<div class="container">
    <div class="row justify-content-center">
        <div class="col basic-list">   
            <ul>
                <li (click)="prepareCreate()">ADD NEW OWNER</li>
                <li *ngFor="let owner of owners" 
                    (click)="onSelect(owner)"
                    [class.active]="owner === selectedOwner">
                    <a>{{owner.firstName}} {{owner.lastName}}</a>
                </li>
            </ul>
        </div>

        <div class="col">
            <form *ngIf="isCreating || selectedOwner" [formGroup]="ownerForm" (ngSubmit)="save()">
                <h3 *ngIf="isCreating">New Owner</h3>
                <h3 *ngIf="!isCreating">{{selectedOwner.name | uppercase}} {{selectedOwner.type}} </h3>
                
                <p>
                    <label>
                        First name:
                        <input type="text" formControlName="firstName">
                    </label>
                </p>

                <p>
                    <label>
                        Last name:
                        <input type="text" formControlName="lastName">
                    </label>
                </p>

                <p>
                    <label>
                        Address:
                        <input type="text" formControlName="address">
                    </label>
                </p>

                <p>
                    <label>
                        Phone number:
                        <input type="text" formControlName="phoneNumber">
                    </label>
                </p>

                <p>
                    <label>
                        Email:
                        <input type="text" formControlName="email">
                    </label>
                </p>

                <button type="submit">Save</button>
                <button *ngIf="selectedOwner" (click)="onDelete(selectedOwner)">Delete</button>
            </form>
        </div>
    </div>
</div>
