@import '~bootstrap/dist/css/bootstrap.css';
/* You can add global styles to this file, and also import other style files */
.basic-list h2 {
  font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
  
.basic-list ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  float: left;
  background-color: rgb(237,20,90,0.6);
}
  
.basic-list li:last-child {
  border: none;
}

.basic-list li{
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid #ccc;
    text-decoration: none;
    color: #000;
    display: block;

    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
}
    
.basic-list li:hover {
    background: rgb(24,216,240,0.8);
}

.basic-list li:active {
  background: #F090C0;
}

body {
  background-image: url("http://hdqwalls.com/wallpapers/rock-mountains-landscape-colorful-illustration-minimalist-rz.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: lightblue;
  background-attachment: fixed;
  background-size: cover;
}

